<div>
  <h3>Cart</h3>
  <pre>{{cart | json}}</pre>
</div>
<div>
  <h3>Diffs applied</h3>
  <ol>
    <li *ngFor="let diff of diffs">{{diff | json}}</li>
  </ol>
</div>
<div id="messages">
  <button class="btn btn-primary" (click)="orderProduct({productId: 'ASDF', validCustomer: true, amount: 1})">Order -
    success
  </button>
  <button class="btn btn-primary" (click)="orderProduct({productId: 'ASDF', validCustomer: true, amount: 0})">Order -
    invalid amount
  </button>
  <button class="btn btn-primary" (click)="orderProduct({productId: 'ASDF', validCustomer: false, amount: 1})">Order -
    failed validation
  </button>
  <h2>Received messages</h2>
  <ol>
    <li class="message" *ngFor="let message of receivedMessages"
        (click)="details(message)"
        [ngStyle]="{'color': message.type === 'ERROR' ? 'red' : null}">
      <span *ngIf="message.type==='ERROR'">{{message.message}}</span>
      <span *ngIf="message.type==='INFO'">Success! Click here to see the cart history</span>
    </li>
  </ol>
</div>

<div *ngIf="fsmDetails.length">
  <ul style="list-style: none">
    <li *ngFor="let moment of fsmDetails;let i = index" [attr.id]="'placeholder'+i"
        style="border: 1px solid black;">
    </li>
  </ul>
</div>
